<h1>Welcome, <%= @user.username %></h1>

<a href="/users/logout">Log Out</a>

<a href="/recipes"><h3>Recipes</h3></a>
<p>Recent recipes:</p>
<ul>
  <% @user.recent(@user.recipes).each do |recipe| %>
    <a href="/recipes/<%= recipe.id %>">
      <li><%= recipe.name %></li>
    </a>
  <% end %>
</ul>

<a href="/shopping_lists"><h3>Shopping Lists</h3></a>
<p>Recent shopping lists:</p>
<ul>
  <% @user.recent(@user.shopping_lists).each do |shopping_list| %>
    <a href="/shopping_lists/<%= shopping_list.id %>">
      <li><%= shopping_list.name %></li>
    </a>
  <% end %>
</ul>